 {% extends 'blog/base.html' %}
 {% block content %}
    <div class="container" style="background: white; padding: 20px; margin-top: 10px; border-radius: 20px;">
        <h1>Blog About Us</h1>
        <br>
        <p>The idea behind Speech blog is simple: you can do wonder for your child when you have the right mix of data and support.</p>
        <p>I learned this first hand when my daughter's speech and language wasn't developing as expected,</p>
        <p>After working with speech langauge pathologists, I learned just how mush power i had to help my dauaghter, </p>
        <p>I realized how important it is for us to have access to information,expertise and encouragement that put parants first</p>
     
    </div>
 
 {% endblock content %}
