 {% extends 'blog/base.html' %}
 {% block content %}
    <h1>Blog Home </h1>
    <hr>
    {% for posts in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ posts.author }}</a>
                    <small class="text-muted">{{ posts.date_posted }}</small>
                    <h2><a class="article-title" href="#">{{ posts.title }}</a></h2>

                </div>

            </div>

         </article>
         
    {% endfor %}
 {% endblock content %}
